.bag{    
    width: 100%;
    background-color:white;
    margin-top: -12px;
    &__wrapper{
        gap: 40px;
        display: flex;
        padding: 50px 0;
    }
    &__card{
        padding: 20px;
        width: calc(32.3% - 26px);
        height: 300px;
        color:black;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        transition: .5s;
        
        &:hover{
            border: 5px solid blue;
            border-radius: 20px;
            transform: scale(1.1);
        }
        
    }
    &__img{
        margin-bottom: 50px;
        width: 60px;
        
    }
}






@media ( max-width:1000px){
    .bag{
    }
.bag__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bag__card{
    width: calc(50% - 20px);
    }
}





@media ( max-width:480px){
    .bag{
    }
    .bag__wrapper{
        flex-direction: column;
    }
    .bag__card{
        margin: auto;
        width: 90%;
        padding: 10px;
        }
}