.hero{
    background-color: rgb(209, 208, 208);
}

.compyuter{
    display: block;
}
.phone{
    display: none;
}

.navbar{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 333;
}




@media ( max-width:600px){
    .hero{

    }
    .compyuter{
        display: none;
    }
    .phone{
        display:block;
    }
}

